/**
  Global styling rules to be used throughout the application
 */

.seo-title {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  position: absolute;
  z-index: -99999999;
  top: -99999999px;
  left: -99999999px;
}

body {
  background: #cecece;
}

.section-spacer {
  padding-top: 100px;
  padding-bottom: 100px;
  @include media-breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}