<template>
  <section class="blog-section section-spacer">
      <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-12">
                <div class="blog-post pb-4" v-for="(post, index) in posts" :key="`blog-post-${index}`">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="blog-photo text-left">
                                <img class="img-fluid" src="../assets/images/sample.png" />
                            </div>
                        </div>
                        <div class="col-6 col-md-8 col-lg-9 pl-0">
                            <div class="blog-details text-left">
                                <p class="blog-poster pb-0">blog poster</p>
                                <p class="blog-posted">9:00pm</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 justify-contet-start">
                        <div class="col-12">
                            <div class="blog-content d-flex flex-column justify-content-center">
                                <div class="block-content">
                                    <h2 class="text-left">{{ post.fields.title }}</h2>
                                    <p class="text-left">{{ post.fields.content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </section>
</template>

<script>


export default {
    props: {
        posts: {
            type: Array,
            required: true
        }
    }
}
</script>
<style lang="scss" scoped>

</style>
