<template>
  <section class="container">
    <blog-posts :posts="posts"/>
  </section>
</template>

<script>
import BlogPosts from '~/components/BlogPosts.vue'
import { createClient } from '~/plugins/contentful';
const contentfulClient = createClient();

export default {
  components: {
    BlogPosts
  },
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'A boilerplate for Nuxt projects. It includes Bootstrap | SCSS | JQuery.'
        }
      ]
    }
  },
  data() {
    return {
      title: 'Index'
    }
  },
  asyncData ({env}) {
    return Promise.all([
      contentfulClient.getEntries({
        content_type: 'post',
      })
    ]).then(([entries]) => {
      return { posts: entries.items };
    })
    .catch(e => console.log(e));
  },
  // asyncData() {
  //   // TODO: cache-management middleware handles the preloader, but good practice and to be used in the future
  //   return client.getEntries({
  //     content_type: 'post'
  //   }).then(entries => {
  //     return { posts: entries.items };
  //   })
  //   .catch(e => console.log(e));
  //   // return new Promise((resolve) => {
  //   //   setTimeout(function() {
  //   //     resolve({})
  //   //   }, 1000)
  //   // })
  // },
  mounted() {
    this.$store.commit('base/SITE_LOADED')
    // console.log(this.posts)
  }
}
</script>

<style>

  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
  }

  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }

  .links {
    padding-top: 15px;
  }
</style>
